@import url('https://fonts.googleapis.com/css2?family=Sura&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Sura', serif;
}



.logo{
   
    padding: 62px;
    margin: 6px;
    background-image: url(../images/logo3.png) 
   

}


body,html{
    height: 100%;
    max-width: 100%;
    margin: 0;
    /* font-family: 'Sura', serif;
    font: normal 14px Roboto,arial,sans-serif; */
    background: url("../images/bg2.jpg") no-repeat center center/cover;

  }
  #tutor_img{
    height: 27rem;
  }

#tutorForm{
      margin-top: 35px;
  width: 75%;
  font-weight: bold;
  font-size: medium;
}


