/* *{
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
max-width: 100%;
max-height: 100%;
  } */
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:#022465f2;
    position: absolute;
    height: 100%;
    overflow: auto;
   text-align: center;  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
  }
   
  .sidebar a.active {
    background-color:#ffc107;
    color: black;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #ffc107;
    color: black;
  }

  .logoutbtn{
    margin-right: 34px;
    padding: 2px 20px;
    border: 1px solid black;
    border-radius: 19px;
    font-weight: bold;
    background:#ffc107;
      font-size: 1rem;
    
  }
  
  #loginbtn{
  margin-right: 34px;
  padding: 9px 20px;
  border: 1px solid black;
  border-radius: 19px;
  font-weight: bold;
  background: #192a6a;
  font-size: 1rem;
    
  }

  
  .logoutbtn a{
    text-decoration: none;
    color: black;
  }
  .navp{
    color: #ffc107;
    font-weight: bold;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    /* height: 1000px; */
  }

  .annoucements{
    border: 1px solid black;
    font-weight: bold;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  /*confirm box*/

  #confirm {
     display: none;
     background-color: #91FF00;
     border: 1px solid #aaa;
     position: fixed;
     width: 250px;
     left: 50%;
     margin-left: -100px;
     padding: 6px 8px 8px;
     box-sizing: border-box;
     text-align: center;
  }
  #confirm button {
     background-color: #48E5DA;
     display: inline-block;
     border-radius: 5px;
     border: 1px solid #aaa;
     padding: 5px;
     text-align: center;
     width: 80px;
     cursor: pointer;
  }
  #confirm .message {
     text-align: left;
  }


  /*Profile Pic Start*/
.picture-container{
  position: relative;
  cursor: pointer;
  text-align: center;
}
.picture{
  width: 106px;
  height: 106px;
  background-color: #999999;
  border: 4px solid #CCCCCC;
  color: #FFFFFF;
  border-radius: 50%;
  margin: 0px auto;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.picture:hover{
  border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover{
  border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
  border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
  border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
  border-color: #ff3b30;
}
.picture input[type="file"] {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
}

.picture-src{
  width: 100%;
  
}
/*Profile Pic End*/