<div class="container">
    <div class="error">{{message}}</div>
    <form action="/student/s_verifyPassword" id="OTP" method="post">
        <h2> Mobile Number Verification</h2>
        
        <div class="form-row">
            <input type="text" name="mob" id="mob" placeholder="Enter mobile Number" required>
        </div>
       <button type="submit" class="btn btn-primary">Send OTP</button>
   

    </form>


</div>
