<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <img src="222.png" alt="" class="img-fluid" id="tutor_img">
        </div>


        <div class="col-md-6 " style="padding: 67px;">
            <form class="font-weight-bold"  action="/student/studentLogin" method="post">

                <div class="form-group">
                    <label>User name</label>
                    <input type="text" class="form-control" name="first_name" placeholder="User name" onclick="removeErr(event)"  required>

                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password"  onclick="removeErr(event)" required>
                </div>

                <a href="/student/s_forgetPassword">forgrt password</a>


                <button type="submit" class="btn btn-success float-right" id="loginbtn">Login</button>


            </form>
            <div>

         
                {{#if loginErr}}    
                <p class="text-danger error" id="logerr">{{loginErr}} </p>
                {{/if}}

            </div>
        </div>
    </div>
</div>

<script>
    function removeErr(event) {
            let c=   document.getElementById('logerr').innerHTML ;
        if (c){
           document.getElementById('logerr').innerHTML =""
        }


      
    }
    
</script>